{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-flex title">
        <h2>{{ page_title }}</h2>
    </div>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="btn success">save</button>
            <a href="{% url 'product_list' %}">
                <button type="button" class="btn">cancel</button>
            </a>
        </div>
    </form>
</div>
{% endblock content %}